{% extends "base.html.twig" %}
{% block title %}SymRecipe - Accueil
{% endblock %}
{% block body %}
	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue Synrecipe!</h1>
			<p class="lead">Une application pour faciliter les deplacements.</p>
			<hr class="my-4">
			<p>Merci de vous inscrire pour etre membre.</p>
			<a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
		</div>
	</div>

{% endblock %}
